.container {
  border: 1px solid #ddd;
  padding: 15px;
}

table {
  border-collapse: collapse;
  width: 100%;

}

th, td {
  text-align: left;
  padding: 0 15px;
}

.dead {
  background-color: lightcoral;
}

.winner {
  background-color: #5ef15e;
}
