<div class="container">
  <table>
    <thead>
    <tr>
      <th>
        Firstname
      </th>
      <th>
        Lastname
      </th>
      <th>
        Gender
      </th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let player of players" [class.dead]="player.isDead" [class.winner]="isWinner(player.id)">

      <td>{{player.firstname}}</td>
      <td>{{player.lastname}}</td>
      <td (click)="swapGender(player.id, player.gender)">{{player.gender[0]}}</td>
    </tr>
    </tbody>
  </table>
</div>


